* {
  margin: 0;
}

.main__body {
  display: flex;
  background: linear-gradient(white, #D3D8E8);
  margin-top: 20px;
  padding-bottom: 30px;
}

.main__body .world {
  margin-left: auto;
  margin-right: 21px;
}

.main__footer {
  margin-left: 12vw;
  margin-right: 20vw;
  padding-top: 30px;
  padding-bottom: 20px;
}

@media screen and (max-width: 990px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

@media screen and (min-width: 990px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}
